#grid {
    display: grid;
    width: 90vh;
    height: 90vh;
}

.cell {
    border: 1px solid rgb(0, 0, 0); /*couleur bordure */
}

.bg{
    width: 100%;
    height: 100%;
}

.div{
    text-align: center;
    justify-content: center;
}
#div1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 25%;
}
#div2{
    width: 100vw;
}


.body{
    margin-top: 10vh;
}
#body2{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-self: center;
    margin-top: 5vh;
}
#index{
    justify-self: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 80vh;
}


input{
    padding: 20px 10px;
    border-radius: 30px;
    width: 15vw;
    height: 15vh;
}


#title{
    width: 30%;
    height: 30%;
}

#image{
    height: 10%;
    justify-self: center;
}